@import 'fonts';
@import 'libs';
@import 'vars';
@import 'reset';
@import 'global';

.header{
  &__inner{
    display: flex;
    align-items: center;
    padding: 48px 0 46px;
    justify-content: space-between;
  }
}

.menu{
  margin-left: 150px;
  &__list{
    display: flex;
  }
  &__list-item + &__list-item{
    margin-left: 30px;
  }
  &__list-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link,
  &__num{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &__link{
    width: 50px;
    height: 50px;
    &--search{
      background-color: #edf1f4;
    }
    &--bento{
      background-color: #a3bbc8;
    }
  }
  &__num{
    position: absolute;
    top: 0px;
    right: -8px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    font-size: 10px;
    line-height: 27px;
  }
  &__box{
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 20px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
  }
  &__box-link{
    position: relative;
    display: inline-block;
    padding-top: 10px;
  }
  &__box-item{
    padding: 0 30px;
  }
  &__box-item + &__box-item{
    border-left: 1px solid #fde7d3;
  }
}

.footer{
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  a:hover{
    text-decoration: underline;
  }
}

.footer-top{
  display: flex;
  padding: 80px 0 68px;
  border-bottom: 1px solid #dae4e9;
  &__item{
    width: 270px;
  }
  &__item + &__item{
    margin-left: 30px;
  }
  &__logo{
    display: block;
    margin-bottom: 20px;
  }
  &__address{
    line-height: 24px;
    margin-bottom: 4px;
  }
  &__phone,
  &__email{
    display: block;
  }
  &__title{
    margin: 18px 0 10px;
    @extend %dm-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__list{
    margin-top: 16px;
  }
  &__list-item{
    line-height: 20px;
  }
  &__list-item + &__list-item{
    margin-top: 15px;
  }
  &__list-link{
    word-wrap: break-word;
  }
  &__item-text{
    padding-top: 4px;
    margin-bottom: 34px;
    line-height: 24px;
  }
  &__form{
    display: flex;
    width: 100%;
  }
  &__form-input{
    padding: 10px 16px;
    background-color: #fef7f0;
    border: none;
    font-size: 12px;
    line-height: 18px;
    &::placeholder{
      @extend %dm-400;
      color: #234969;
    }
  }
  &__form-btn{
    padding: 9px 17px;
    @extend %dm-400;
    line-height: 20px;
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav-list{
    display: flex;
    line-height: 16px;
  }
  &__nav-item + &__nav-item{
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #7b7b7b
  }
}

.top{
  padding: 36px 0 28px;
  background-color: #edf1f4;
  color: #222933;
  &__inner{
    text-align: center;
  }
  &__title{
    display: block;
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 13px;
  }
}

.breadcrumbs{
  display: block;
  font-size: 14px;
  line-height: 24px;
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item + &__item{
    &::before{
      display: inline-block;
      content: '/';
      width: 22px;
    }
  }
}

.top-slider{
  &__inner{
    overflow: hidden;
    background-color: #fcd7b6;
    position: relative;
    z-index: 1;
    &::after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(70px, -50%);
      content: '';
      width: 634px;
      height: 634px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
      border-radius: 50%;
      z-index: 2;
    }
  }
  &__items{
    z-index: 10;
    padding-bottom: 45px;
  }
  &__item{
    padding: 217px 0 206px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title{
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 24px;
  }
  &__text{
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 38px;
  }
  &__btn{
    display: inline-block;
    padding: 24px 28px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: #a3bbc8;
    &::after{
      content: url('../images/icons/arrow-right.svg');
      margin-left: 50px;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li + li{
      margin-left: 10px;
    }
    button{
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background-color: #fde3cc;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: #243f4d;
      transition: all 0.3s;
      cursor: pointer;
    }
    .slick-active button{
      background-color: #fff;
    }
  }
}

.benefits{
  margin-bottom: 68px;
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    background-color: #e8e4df;
  }
  &__item{
    padding: 37px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef7f0;
  }
  &__icon{
    margin-right: 25px;
  }
  &__title{
    @extend %dm-700;
    font-size: 18px;
    line-height: 36px;
    color: #414141;
  }
  &__subtitle{
    max-width: 215px;
    @extend %dm-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}

.products{
  margin-bottom: 86px;
  &__title{
    text-align: center;
    margin-bottom: 30px;
  }
  &__filter-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__filter-btn{
    padding: 0;
    background-color: transparent;
    border: none;
    @extend %dm-700;
    font-size: 16px;
    line-height: 18px;
    color: #8b8b8b;
    transition: all .3s;
    cursor: pointer;
    &.mixitup-control-active{
      color: #191919;
    }
  }
  &__filter-btn + &__filter-btn{
    margin-left: 30px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item{
    padding: 0 10px 28px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    font-size: 16px;
    line-height: 32px;
    position: relative;
    &:hover{
      .products__links{
        opacity: 1;
      }
    }
    &--list{
      display: flex;
      padding: 0;
      box-shadow: none;
      border-radius: 0;
      .products__item-img{
        width: 370px;
        height: 500px;
        padding: 21px;
        margin: 0 58px 0 0;
        border: 2px solid #f2f2f2;
        img{
          width: 100%;
        }
      }
      .products__item-info{
        max-width: 442px;
        padding-top: 90px;
        text-align: left;
      }
      .products__item-name{
        @extend %rubik-400;
        font-size: 40px;
        color: #333;
        margin-bottom: 24px;
      }
      .products__item-rating{
        display: block;
        margin-bottom: 36px;
      }
      .products__item-price{
        @extend %rubik-400;
        font-size: 30px;
        color: #333;
        margin-bottom: 20px;
      }
      .products__item-text{
        display: block;
        line-height: 30px;
        color: #243f4d;
        margin-bottom: 30px;
      }
      .products__links{
        position: static;
        opacity: 1;
        transform: translate(0, 0);
      }
      .products__links-item{
        width: 50px;
        height: 50px;
        border-radius: 0;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      }
      .products__links-item + .products__links-item{
        margin-left: 0;
      }
      .products__links-search{
        display: none;
      }
      .products__links-cart{
        background-color: #a3bbc8;
        margin-right: 11px;
        path{
          fill: #fff;
        }
      }
      .products__links-like{
        background-color: #fff;
        path{
          fill: #a3bbc8;
        }
      }
    }
  }
  &__item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
    margin-bottom: 18px;
  }
  &__item-name{
    @extend %dm-500;
    color: #243f4d;
  }
  &__item-price{
    @extend %dm-700;
    color: #a3bbc8;
  }
  &__links{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8px);
    transition: all .3s;
    opacity: 0;
  }
  &__links-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s;
    &:hover{
      background-color: #a3bbc8;
      path{
        fill: #fff;
      }
    }
  }
  &__links-item + &__links-item{
    margin-left: 16px;
  }
  &__item-rating,
  &__item-text{
    display: none;
  }
}

.products-box{
  margin-bottom: 100px;
  &__inner{
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    display: flex;
    min-height: 390px;
    padding: 10px;
    background-color: #feefe2;
    position: relative;
  }
  &__img{
    position: absolute;
    top: -100px;
    right: 500px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    max-width: 345px;
    height: 390px;
    color: #243f4d;
  }
  &__title{
    @extend %dm-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 28px;
  }
  &__link{
    display: inline-block;
    width: 180px;
    padding: 22px 20px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    border: 1px solid rgba(67, 99, 114, 0.4);
    border-radius: 5px;
    position: relative;
    &::after{
      position: absolute;
      content: url('../images/icons/arrow-right-blue.svg');
      right: 20px;
    }
  }
}

.design{
  margin-bottom: 120px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
  }
  &__item{
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    transition: all .3s;
    &:hover{
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.1);
    }
  }
  &__info{
    position: absolute;
    max-width: 180px;
    top: 38px;
    left: 35px;
    @extend %dm-700;
  }
  &__name{
    font-size: 20px;
    line-height: 24px;
    color: #191919;
    margin-bottom: 12px;
  }
  &__type{
    font-size: 16px;
    line-height: 18px;
    color: #a3bbc8;
  }
}

.video-popup{
  margin-bottom: 110px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles{
  &__title-link-box{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__link{
    &::after{
      content: url('../images/icons/arrow-right-short.svg');
      margin-left: 20px;
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item{
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    z-index: 1;
  }
  &__img{
    width: 100%;
  }
  &__item-info{
    display: flex;
    flex-direction: column;
    min-height: 170px;
    padding: 30px 25px 25px 35px;
    position: relative;
  }
  &__item-news{
    position: absolute;
    top: 0;
    left: 28px;
    transform: translateY(-50%);
    background-color: #a3bbc8;
    border-radius: 15px;
    padding: 5px 31px;
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  &__item-link{
    margin-bottom: auto;
    @extend %dm-700;
    font-size: 18px;
    line-height: 20px;
    color: #262626;
  }
  &__item-date-author-box{
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: #222933;
    padding-top: 15px;
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
  }
  &__item-date{
    padding-left: 18px;
    position: relative;
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      content: url('../images/icons/calendar.jpg');
    }
  }
  &__item-author{
    padding-left: 16px;
    position: relative;
    margin-left: 30px;
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      content: url('../images/icons/user.jpg');
    }
  }
}

.partners{
  padding: 83px 0;
  background-color: #fef7f0;
  &--high{
    margin-top: -170px;
    padding: 270px 0 90px;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.modal{
  padding: 120px 0;
  &__form{
    max-width: 466px;
    margin: 0 auto;
    font-size: 14px;
    color: #436372;
  }
  &__label-box{
    margin-bottom: 37px;
  }
  &__label{
    display: inline-block;
    width: 100%;
  }
  &__label + &__label{
    margin-top: 26px;
  }
  &__input{
    width: 100%;
    padding: 0 15px;
    margin-top: 12px;
    height: 60px;
    border: 2px solid #f6f6f6;
    background-color: transparent;
  }
  &__btn{
    width: 100%;
    height: 60px;
    border: none;
    background-color: #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: #fffefe;
    cursor: pointer;
  }
  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 30px;
  }
  &__label-checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .modal__checkbox-style::before{
      position: absolute;
      content: '';
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      background-image: url('../images/icons/check.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__checkbox-style{
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #ebebeb;
    border-radius: 2px;
    margin-right: 13px;
  }
  &__lost{
    white-space: nowrap;
  }
  &__text{
    text-align: center;
    margin-bottom: 24px;
  }
  &__link{
    display: block;
    text-align: center;
    padding: 17px 0;
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
    border: 2px solid #a3bbc8;
  }
}

.conditions{
  padding-top: 115px;
  margin-bottom: 90px;
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__list{
    list-style: none;
    counter-reset: number;
    margin-bottom: 60px;
  }
  &__list-item{
    display: flex;
    counter-increment: number;
    &::before{
      margin-right: 15px;
      content: '0' counter(number)'.';
    }
    &:nth-child(n + 10)::before{
      content: counter(number)'.';
    }
  }
  &__list-item + &__list-item{
    margin-top: 15px;
  }
  &__text-box{
    margin-bottom: 60px;
  }
}

.mission{
  padding: 120px 0;
  &__inner{
    display: flex;
    color: #243f4d;
  }
  &__content{
    padding-top: 80px;
    margin-left: 48px;
  }
  &__number-box{
    display: flex;
    align-items: flex-end;
    margin-bottom: 45px;
    span{
      @extend %rubik-700;
      font-size: 140px;
      line-height: 110px;
      color: #a3bbc8;
      margin-right: 25px;
    }
  }
  &__number-text{
    line-height: 30px;
  }
  &__title{
    @extend %dm-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  &__text{
    line-height: 30px;
  }
  &__info{
    display: flex;
    position: relative;
    margin-top: 60px;
    padding-top: 40px;
    &::before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-color: #ebeef3;
      max-width: 500px;
      width: 100%;
      height: 2px;
    }
  }
  &__info-item{
    display: flex;
    padding: 10px 0 11px;
  }
  &__info-item + &__info-item{
    padding-left: 28px;
    margin-left: 28px;
    border-left: 1px solid #e6eaf0;
  }
  &__info-img{
    margin-right: 18px;
  }
  &__info-text{
    @extend %dm-700;
    color: #4c4c4c;
    span{
      display: block;
      font-size: 36px;
      line-height: 38px;
      color: #243f4d;
    }
  }
}

.achievements{
  background-color: #fcd7b6;
  padding: 88px 0 80px;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    @extend %dm-700;
    color: #243f4d;
  }
  &__img{
    display: flex;
    align-items: flex-end;
    height: 60px;
    margin-bottom: 20px;
  }
  &__num{
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  &__text{
    font-size: 18px;
  }
}

.team{
  padding: 120px 0 70px;
  &__inner{
    display: flex;
    color: #243f4d;
  }
  &__info{
    width: 300px;
    margin-right: 100px;
  }
  &__title{
    @extend %dm-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 27px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 36px;
  }
  &__link{
    display: inline-block;
    padding: 14px 17px;
    background-color: #a3bbc8;
    border-radius: 5px;
    @extend %poppins-600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    &::after{
      display: inline-block;
      content: url('../images/icons/arrow-right-white.svg');
      margin-left: 27px;
    }
  }
  &__items{
    max-width: 770px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  &__item{
    height: 320px;
    position: relative;
    margin-bottom: 100px;
  }
  &__item-info{
    position: absolute;
    left: 0;
    right: 45px;
    bottom: -60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 21px 28px 24px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__name{
    @extend %dm-700;
    font-size: 22px;
    line-height: 26px;
    color: #436372;
    margin-bottom: 7px;
  }
  &__prof{
    color: #565872;
  }
  &__social{
    display: flex;
  }
  &__social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f6f6f6;
  }
  &__social-link + &__social-link{
    margin-left: 7px;
  }
}

.product{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__items-wrapper{
    margin-left: 30px;
    max-width: 870px;
    width: 100%;
  }
  &__items{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 108px;
    &--fr{
      grid-template-columns: 1fr;
      margin-bottom: 75px;
    }
  }
}

.pagination{
  display: flex;
  justify-content: center;
  &--left{
    justify-content: flex-start;
  }
  &__arrow,
  &__link{
    line-height: 20px;
    color: #243f4d;
    display: inline-block;
    padding: 14px 21px;
    border: 1px solid #a3bbc8;
  }
  &__link--active{
    background-color: #a3bbc8;
    color: #fff;
  }
  &__list{
    display: flex;
  }
  &__arrow-prev{
    margin-right: 16px;
  }
  &__arrow-next{
    margin-left: 16px;
  }
  &__arrow--disabled{
    display: none;
  }
  &__item + &__item{
    margin-left: 15px;
  }
}

.filters{
  width: 270px;
  color: #243f4d;
  &__title{
    display: inline-block;
    padding-right: 55px;
    margin-bottom: 25px;
    @extend %dm-700;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 38px;
      height: 3px;
      background-color: #a3bbc8;
      border: 1px solid #c8d6de;
      border-radius: 2px;
    }
  }
}

.filter{
  &__label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 23px 11px 15px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }
  &__label-span{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all .3s;
  }
  &__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .filter__label-span{
      background-color: #edf1f4;
    }
  }
}

.filters-category{
  margin-bottom: 60px;
  &__label{
    &::after{
      content: url('../images/icons/arrow-right-short.svg');
    }
  }
}

.filters-brand{
  margin-bottom: 50px;
  &__label{
    padding-right: 10px;
  }
  &__num{
    min-width: 55px;
    text-align: center;
  }
}


.filters-price{
  margin-bottom: 74px;
  &__form{
    padding-top: 5px;
  }
  &__prices{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
}

.irs-with-grid .irs-grid{
  display: none;
}

.irs--flat .irs-line {
  top: 7px;
  height: 3px;
  background-color: #c2d2db;
  border: 1px solid #dfe7ec;
  border-radius: 2px;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #a3bbc8;
  border: 1px solid #bfd0d9;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
  cursor: pointer;
}

.irs--flat.irs-with-grid{
  height: 15px;
  margin-bottom: 22px;
}

.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
  display: none;
}

.recent{
  &__item{
    display: flex;
    font-size: 15px;
    color: #333;
  }
  &__item + &__item{
    margin-top: 22px;
  }
  &__img-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 3px solid #f2f2f2;
    margin-right: 20px;
  }
  &__link{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__rating{
    margin: 0 0 9px -2px;
  }
}

.jq-ry-container{
  padding: 0;
}

.details{
  padding-top: 120px;
  margin-bottom: 70px;
  color: #243f4d;
  &__inner{
    display: flex;
  }
  &__sliders{
    display: flex;
    align-items: flex-start;
  }
  &__content{
    padding-top: 25px;
    margin-left: 70px;
  }
  &__title{
    @extend %rubik-400;
    font-size: 40px;
    color: #333;
    margin-bottom: 16px;
  }
  &__rating{
    margin: 0 0 30px -2px;
  }
  &__price{
    font-size: 30px;
    color: #333;
    margin-bottom: 24px;
  }
  &__text{
    line-height: 30px;
    margin-bottom: 27px;
  }
  &__form{
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }
  &__form-btn{
    padding: 18px 50px;
    background-color: #a3bbc8;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 15px;
    cursor: pointer;
  }
  &__info-item + &__info-item{
    margin-top: 11px;
  }
  &__info-link:hover{
    text-decoration: underline;
  }
  .jq-number{
    padding: 0;
  }
  .jq-number__field{
    min-width: 148px;
    border: 1px solid #a3bbc8;
    border-bottom-color: none;
    border-radius: 0;
    box-shadow: none;
  }
  .jq-number__field input{
    text-align: center;
    padding: 18px 50px;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 17px;
    color: #333;
  }
  .jq-number__spin{
    top: 0;
    bottom: 0;
    height: auto;
    width: 50px;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    &::after{
      display: none;
    }
    &::before{
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
    }
  }
  .jq-number__spin.minus{
    left: 0;
    right: auto;
    border-right: 1px solid #a3bbc8;
    &::before{
      content: '-';
      transform: translate(-50%, -60%);
    }
  }
  .jq-number__spin.plus{
    border-left: 1px solid #a3bbc8;
    &::before{
      content: '+';
      transform: translate(-50%, -52%);
    }
  }
}

.slider-min{
  width: 138px;
  margin-right: 25px;
  line-height: 0;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    margin-bottom: 27px;
  }
  &__img{
    max-width: 134px;
    max-height: 156px;
    object-fit: contain;
  }
  .slick-slide{
    border: none;
  }
}

.slider-big{
  width: 387px;
  border: 2px solid #f2f2f2;
  line-height: 0;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 530px;
  }
  &__img{
    max-width: 383px;
    max-height: 526px;
    object-fit: contain;
  }
}

@import 'media';