.conditions{
  padding-top: 115px;
  margin-bottom: 90px;
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__list{
    list-style: none;
    counter-reset: number;
    margin-bottom: 60px;
  }
  &__list-item{
    display: flex;
    counter-increment: number;
    &::before{
      margin-right: 15px;
      content: '0' counter(number)'.';
    }
    &:nth-child(n + 10)::before{
      content: counter(number)'.';
    }
  }
  &__list-item + &__list-item{
    margin-top: 15px;
  }
  &__text-box{
    margin-bottom: 60px;
  }
}

@media(max-width: 1024px){
  .conditions{
    padding-top: 60px;
    margin-bottom: 60px;
  }
}

@media(max-width: 768px){
  .conditions{
    &__title{
      font-size: 22px;
      margin-bottom: 10px;
    }
    &__text-box,
    &__list{
      margin-bottom: 30px;
    }
  }
}