.related-products{
  margin-bottom: 105px;
  &__title{
    color: #243f4d;
    margin-bottom: 66px;
  }
  &__items{
    margin: 0 -15px;
  }
  &__item-wrapper{
    padding: 0 15px;
  }
  .slick-list{
    padding: 30px 15px;
    margin: -30px -15px;
  }
  .products__item{
    box-shadow: none;
  }
  .slick-arrow{
    position: absolute;
    top: -79px;
    order: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    border-radius: 5px;
    border: 2px solid #a3bbc8;
    width: 46px;
    height: 46px; 
    cursor: pointer;
  }
  &__arrow-prev{
    right: 85px;
  }
  &__arrow-next{
    right: 15px;
  }
  .slick-disabled{
    border-color: #edf1f4;
    cursor: auto;
  }
}

@media(max-width: 1246px){
  .related-products{
    .slick-list{
      padding: 30px 0;
      margin: -30px 0;
    }
  }
}

@media(max-width: 1024px){
  .related-products{
    &__item-wrapper{
      padding: 0 5px;
    }
    &__item {
      box-shadow: 0px 0px 10px 2px rgba(37, 37, 37, 0.05);
    }
  }
}

@media(max-width: 640px){
  .related-products{
    &__title{
      margin-bottom: 50px;
    }
    .slick-arrow{
      top: auto;
      bottom: 0;
      z-index: 15;
    }
    .slick-list{
      padding-bottom: 70px;
    }
    &__arrow-prev{
      right: auto;
      left: 15px;
    }
  }
}