.video-popup{
  margin-bottom: 110px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 920px){
  .video-popup{
    height: 370px;
    margin-bottom: 80px;
    &__link{
      width: 100px;
      height: 100px;
    }
  }
}

@media(max-width: 640px){
  .video-popup{
    height: 300px;
    &__link{
      width: 80px;
      height: 80px;
    }
  }
}

@media(max-width: 420px){
  .video-popup{
    height: 250px;
  }
}