.top-slider{
  &__inner{
    overflow: hidden;
    background-color: #fcd7b6;
    position: relative;
    z-index: 1;
    &::after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(70px, -50%);
      content: '';
      width: 634px;
      height: 634px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
      border-radius: 50%;
      z-index: 2;
    }
  }
  &__items{
    z-index: 10;
    padding-bottom: 45px;
  }
  &__item{
    padding: 217px 0 206px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title{
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 24px;
  }
  &__text{
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 38px;
  }
  &__btn{
    display: inline-block;
    padding: 24px 28px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: #a3bbc8;
    &::after{
      content: url('../images/icons/arrow-right.svg');
      margin-left: 50px;
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li + li{
      margin-left: 10px;
    }
    button{
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background-color: #fde3cc;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: #243f4d;
      transition: all 0.3s;
      cursor: pointer;
    }
    .slick-active button{
      background-color: #fff;
    }
  }
}

@media(max-width: 1200px){
  .top-slider{
    &__items{
      padding-bottom: 30px;
    }
    &__item{
      align-items: center;
      padding: 200px 0 170px;
    }
    &__content{
      margin-right: 20px;
    }
    &__title{
      font-size: 64px;
      line-height: 64px;
      max-width: 100%;
    }
  }
}

@media(max-width: 1024px){
  .top-slider{
    &__item{
      padding: 170px 0 140px;
    }
    &__inner::after{
      width: 500px;
      height: 500px;
    }
    &__title{
      font-size: 54px;
      line-height: 54px;
      margin-bottom: 15px;
    }
    &__text{
      font-size: 16px;
      margin-bottom: 26px;
    }
  }
}

@media(max-width: 768px){
  .top-slider{
    &__item{
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 0 30px;
    }
    &__content{
      margin: 0 0 40px 0;
    }
    &__photo{
      align-self: flex-end;
    }
    &__title{
      font-size: 48px;
      line-height: 48px;
    }
  }
}

@media(max-width: 512px){
  .top-slider{
    &__title{
      font-size: 38px;
      line-height: 38px;
    }
  }
}