.recent{
  &__item{
    display: flex;
    font-size: 15px;
    color: #333;
  }
  &__item + &__item{
    margin-top: 22px;
  }
  &__img-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 3px solid #f2f2f2;
    margin-right: 20px;
  }
  &__link{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__rating{
    margin: 0 0 9px -2px;
  }
}