.mission{
  padding: 120px 0;
  &__inner{
    display: flex;
    color: #243f4d;
  }
  &__photo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content{
    max-width: 552px;
    padding: 80px 0;
    margin-left: 48px;
  }
  &__number-box{
    display: flex;
    align-items: flex-end;
    margin-bottom: 45px;
    span{
      @extend %rubik-700;
      font-size: 140px;
      line-height: 110px;
      color: #a3bbc8;
      margin-right: 25px;
    }
  }
  &__number-text{
    line-height: 30px;
  }
  &__title{
    @extend %dm-700;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 40px;
  }
  &__text{
    line-height: 30px;
  }
  &__info{
    display: flex;
    position: relative;
    margin-top: 57px;
    padding-top: 30px;
    &::before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-color: #ebeef3;
      max-width: 500px;
      width: 100%;
      height: 2px;
    }
  }
  &__info-item{
    display: flex;
    padding: 10px 0 11px;
  }
  &__info-item + &__info-item{
    padding-left: 28px;
    margin-left: 28px;
    border-left: 1px solid #e6eaf0;
  }
  &__info-img{
    margin-right: 18px;
  }
  &__info-text{
    @extend %dm-700;
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
    span{
      display: block;
      font-size: 16px;
      line-height: 20px;
      color: #4c4c4c;
      margin-left: 3px;
    }
  }
}

@media(max-width: 920px){
  .mission{
    padding: 60px 0;
    &__photo{
      display: none;
    }
    &__content{
      max-width: 100%;
      padding: 0;
      margin-left: 0;
    }
    &__info{
      padding-top: 30px;
      margin-top: 30px;
      justify-content: center;
      &::before{
        max-width: 100%;
      }
    }
    &__number-box{
      margin-bottom: 30px;
    }
    &__title{
      margin-bottom: 25px;
    }
  }
}

@media(max-width: 640px){
  .mission{
    &__info{
      flex-wrap: wrap;
      padding-top: 20px;
    }
    &__info-item,
    &__info-item + &__info-item{
      padding: 15px;
      margin: 0;
      border: none;
    }
  }
}