.blog-page{
  margin: 120px 0;
  &__inner{
    display: flex;
    margin-bottom: 76px;
    justify-content: space-between;
  }
}

.blog{
  width: 830px;
  &__item + &__item{
    margin-top: 61px;
  }
  &__top{
    position: relative;
    margin-bottom: 32px;
  }
  &__link-title{
    display: inline-block;
    margin-bottom: 20px;
  }
  &__title{
    @extend %rubik-400;
    font-size: 36px;
    color: #333;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__link-more{
    display: inline-flex;
    align-items: center;
    padding: 19px;
    border: 1px solid #a3bbc8;
    @extend %nunito-700;
    font-size: 15px;
    color: #a3bbc8;
    &::after{
      content: url('../images/icons/arrow-right-blue-wight.svg');
      margin-left: 43px;
    }
  }
}

@media(max-width: 1024px){
  .blog-page{
    margin: 60px 0;
    &__inner{
      flex-direction: column;
    }
  }
  .blog{
    width: 100%;
    &__img{
      width: 100%;
    }
  }
}

@media(max-width: 768px){
  .blog{
    &__title{
      font-size: 28px;
    }
    &__link-more{
      padding: 12px;
    }
  }
}