@import 'fonts';
@import 'libs';
@import 'vars';
@import 'reset';
@import 'global';

.conditions{
  padding-top: 115px;
  margin-bottom: 90px;
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__list{
    list-style: none;
    counter-reset: number;
    margin-bottom: 60px;
  }
  &__list-item{
    display: flex;
    counter-increment: number;
    &::before{
      margin-right: 15px;
      content: '0' counter(number)'.';
    }
    &:nth-child(n + 10)::before{
      content: counter(number)'.';
    }
  }
  &__list-item + &__list-item{
    margin-top: 15px;
  }
  &__text-box{
    margin-bottom: 60px;
  }
}

.product{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__items-wrapper{
    margin-left: 30px;
    max-width: 870px;
    width: 100%;
  }
  &__items{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 108px;
    &--fr{
      grid-template-columns: 1fr;
      margin-bottom: 75px;
    }
  }
}

.irs-with-grid .irs-grid{
  display: none;
}

.irs--flat .irs-line {
  top: 7px;
  height: 3px;
  background-color: #c2d2db;
  border: 1px solid #dfe7ec;
  border-radius: 2px;
}

.irs--flat .irs-bar {
  top: 6px;
  height: 4px;
  background-color: #a3bbc8;
  border: 1px solid #bfd0d9;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
  cursor: pointer;
}

.irs--flat.irs-with-grid{
  height: 15px;
  margin-bottom: 22px;
}

.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
  display: none;
}

.recent{
  &__item{
    display: flex;
    font-size: 15px;
    color: #333;
  }
  &__item + &__item{
    margin-top: 22px;
  }
  &__img-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 3px solid #f2f2f2;
    margin-right: 20px;
  }
  &__link{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__rating{
    margin: 0 0 9px -2px;
  }
}

.jq-ry-container{
  padding: 0;
}

@import 'media';